<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <pf-image
                        *ngIf="!imgTemp"
                        class="user-img"
                        [src]="user.imageUrl"
                        alt="User profile picture"
                        width="100"
                        height="100"
                        rounded
                    ></pf-image>
                    <pf-image
                        *ngIf="imgTemp"
                        class="user-img"
                        [src]="imgTemp"
                        alt="User profile picture"
                        width="100"
                        height="100"
                        rounded
                    ></pf-image>
                    <input type="file"
                        (change)="changeImage($any($event.target).files[0])">
                    <br>
                    <br>
                    <button type="button" 
                            class="btn btn-success btn-block waves-effect waves-light m-r-10"
                            [disabled]="(!uploadImage)"
                            (click)="loadImage()">
                    <i class="fa fa-save"></i>
                    Cambiar imagen
                    </button>
                </div>

                <h3 class="profile-username text-center">
                    {{ user.fullName | slice:0:20}}
                    {{ (user.fullName.length > 20) ? '...' : ''}}
                </h3>

                <p class="text-muted text-center">Roles: </p>  
                <p class="text-muted text-center">{{ rolesString }}</p>                 
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->        
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <form class="form-horizontal" 
              (ngSubmit)="updateProfile()"
              [formGroup]="profileForm">
                <div class="form-group row">
                    <h5>Datos del Usuario</h5>
                </div>                    
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="firstName" class="col-form-label">Nombres</label>                            
                    </div>   
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="firstName" placeholder="Nombres" formControlName="firstName">
                    </div>                     
                    <div class="col-sm-2">
                        <label for="lastName" class="col-form-label">Apellidos</label>                            
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lastName" placeholder="Apellidos" formControlName="lastName">
                    </div>
                </div>                    
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="userName" class="col-form-label">Usuario</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="userName" placeholder="Nombre de Usuario" formControlName="userName" readonly>
                    </div>
                    <div class="col-sm-2">
                        <label for="mobile" class="col-form-label">Celular</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="mobile" placeholder="Celular" formControlName="mobile">
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Correo del usuario" formControlName="email" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <h5>Datos de la Empresa</h5>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="inputRuc" class="col-form-label">RUC</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputRuc" placeholder="RUC" formControlName="companyRuc" readonly>
                    </div>
                    
                </div>   
                <div class="form-group row">
                    <label for="inputRazonSocial" class="col-sm-2 col-form-label">Razon Social</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputRazonSocial" placeholder="Razon Social" formControlName="companyComercialName" readonly>
                    </div>                        
                </div>
                <div class="form-group row">
                  <label for="inputCompanyEmail" class="col-sm-2 col-form-label">Correo</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCompanyEmail" placeholder="Correo de la empresa" formControlName="companyEmail">
                  </div>
                </div>                                   
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="inputCompanyPhone" class="col-form-label">Telefono</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputCompanyPhone" placeholder="Telefono" formControlName="companyPhone">
                    </div>
                    <div class="col-sm-2">
                      <label for="companyType" class="col-form-label">Tipo de Empresa</label>
                    </div>
                    <div class="col-sm-4">
                      <div class="input-group mb-3">
                        <select class="form-control" id="companyType" formControlName="companyType" readonly>
                          <option *ngFor="let item of lcItems" value="{{item.lcValue}}">{{item.lcName}}</option>                        
                        </select>    
                      </div>
                    </div>
                </div>
                <!-- <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Estoy de acuerdo con los <a href="#">terminos and condiciones</a>
                      </label>
                    </div>
                  </div>
                </div> -->
                <div class="form-group row">
                  <div class="col-sm-12">
                    <p class="text-right"><small><i>(*) Si desea actualizar uno de los campos deshabilitados, enviar un correo 
                      a <a href="mailto:contacto@sicotyc.com">contacto@sicotyc.com</a> con su correo de registro indicando el motivo del cambio</i></small></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-danger">
                    <p *ngIf="fieldNoValidate('firstName')">El nombre es obligatorio</p>
                    <p *ngIf="fieldNoValidate('lastName')">El apellido es obligatorio</p>
                    <p *ngIf="fieldNoValidate('userName')">El nombre de usuario es obligatorio</p>
                    <p *ngIf="fieldNoValidate('email')">El email es obligatorio y tiene que ser valido</p>
                    <p *ngIf="fieldNoValidate('mobile')">El numero de celular del usuario es obligatorio y tiene que ser valido</p>
                    <p *ngIf="fieldNoValidate('companyRuc')">El Ruc es obligatorio</p>
                    <p *ngIf="fieldNoValidate('companyComercialName')">El nombre comercial es obligatorio</p>
                    <p *ngIf="fieldNoValidate('companyEmail')">El correo de la empresa es obligatorio</p>
                    <p *ngIf="fieldNoValidate('companyPhone')">El telefono de la empresa es obligatorio</p>
                    <p *ngIf="fieldNoValidate('companyType')">El tipo de empresa es obligatorio</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-danger" [disabled]="this.profileForm.pristine">Guardar Cambios</button>
                  </div>
                </div>
              </form>
            </div>            
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->