<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar usuario..."
                />
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="row animate__animated__fadeIn__fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
            <h1 class="animate__animated animate__bounce">
                An animated element
            </h1>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Total de Usuarios ({{ totalUsers }})</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th class="w100">Usuario</th>
                                <!-- <th>Role</th> -->
                                <th>Roles</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td class="text-center">
                                    <img
                                        [src]="user.imageUrl"
                                        alt="Avatar de Usuario"
                                        class="avatar"
                                    />
                                </td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.userName }}</td>
                                <!-- <td>ewtsff</td> -->
                                <td>
                                    <span
                                        *ngFor="let role of user.roles"
                                        class="right badge badge-primary mr-1"
                                        >{{ role.roleName }}</span
                                    >
                                    <!-- <span class="badge badge-success mr-1">Coordinador</span> -->
                                </td>
                                <td class="text-nowrap text-center">
                                    <a
                                        data-toggle="tooltip"
                                        title="Editar"
                                        data-placement="auto"
                                        ><i
                                            class="fa fa-pencil text-primary mr-2"
                                        ></i
                                    ></a>
                                    <a
                                        data-toggle="tooltip"
                                        title="Borrar"
                                        data-placement="auto"
                                        ><i
                                            class="fa fa-close text-danger ml-1"
                                        ></i
                                    ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="changePage(-5)" class="btn btn-secondary mr-1">
                    Anteriores
                </button>
                <button (click)="changePage(5)" class="btn btn-secondary">
                    Siguientes
                </button>
            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
              </ul>
            </div> -->
        </div>
    </div>
</div>
